.primary {
    text-align: center;
    font-size: 70px;
}
.secondary {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-style: italic;
}
.hrTag {
    color:#53be78;
}
.description {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
    font-size: 20px;
}
.startButton {
    position: relative;
    transform: translate(0%, -150%);
    margin: auto;
    width: 150px;
    height: 50px;
    border: 0px;
    background-color: #53be78;
    box-shadow: 0px 2px 2px black;
}
.welcomeBox {
    background-color: #b8f4f8;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
}

table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

table, th, td {
    border: 1px solid #000;
}

.fpc * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fpc body {
    font-family: "Montserrat";
}
.fpc .section {
    position: relative;
    top: 25px;
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: white;
}
.fpc .container {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000020;
    border-radius: 8px;
    background-color: white;
}
.fpc .form-group {
    width: 100%;
    margin-top: 20px;
}
.fpc .form-group input {
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.418);
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 4px;
}
.fpc .form-group select {
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.418);
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 4px;    
}

.fpc button.next-btn,
.fpc button.previous-btn,
.fpc button.submit-btn {
    color: white;
    background-color: #0D6EFD;
    border-radius: 5px;
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.fpc button.previous-btn {
    float: left;
}
.fpc button.submit-btn {
    background-color: rgb(83, 190, 120);
}

.fpr * {
    padding: 0;
    margin: 0;
}

.fpr table {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

.fpr table, th, td {
    border: 1px solid #000;
}

h1{
    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

table{
    background: rgb(220, 255, 220);
    width:70%;
    font-family: 'Courier New', Courier, monospace
}
th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
}
th{
    background-color: rgb(21, 163, 97);
    color:white;
  font-family: 'Arial Black';  
}

tr:nth-child(even) {background-color: rgb(255, 255, 255);}