.primary {
    text-align: center;
    font-size: 70px;
}
.secondary {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-style: italic;
}
.hrTag {
    color:#53be78;
}
.description {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
    font-size: 20px;
}
.startButton {
    position: relative;
    /*
    top: 49%;
    left: 50%;
    
    
    */
    transform: translate(0%, -150%);
    margin: auto;
    width: 150px;
    height: 50px;
    border: 0px;
    background-color: #53be78;
    box-shadow: 0px 2px 2px black;
}
.welcomeBox {
    background-color: #b8f4f8;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
}

